<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/movies.css">
    <link rel="stylesheet" href="css/clear.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>电影页面</title>
    <link rel="icon" href="images/title-lolg.png">
    <script src="js/jquery.js"></script>
    <!--    引入vue-->
    <script src="js/vue.js"></script>
    <!--    引入axios-->
    <script src="js/axios.js"></script>
    <!--    引入bootstrap-->
    <script src="js/bootstrap.js"></script>
    <!--    <script src="js/ajax.js"></script>-->
    <!--    <script src="js/mock-min.js"></script>-->
    <!--    <script src="js/server.js"></script>-->
</head>

<body>

<div id="App">
    <!-- 页面头部 -->
    <header>
        <div class="header-body">
            <a href="index.html?123" class="logo">猫眼电影</a>
            <div class="city">成都
                <span class="caret"></span>
            </div>
            <div class="city-list">
                <div class="now-city">
                    定位城市: 定位失败
                </div>
                <div class="citys">
                    <span class="icon"></span> 定位失败
                </div>
            </div>
            <div class="nav">
                <ul class="nav-list">
                    <li><a href="index.html?123" class="nav-model">首页</a></li>
                    <li><a href="movies.html" class="nav-model active">电影</a></li>
                    <li><a href="cinemas.html" class="nav-model">影院</a></li>
                    <li class="nav-model">演出</li>
                    <li class="nav-model">榜单</li>
                    <li class="nav-model">热点</li>
                    <li class="nav-model">商城</li>
                </ul>
            </div>
            <div class="app-download">
                <a href="#">
                    <span class="phone"></span> APP下载
                    <span class="caret"></span>

                    <div class="appcode">
                        <img src="images/phonecode.png" class="app-code"></img>
                        <p class="down-tip">扫码下载APP</p>
                        <p class="down-text">选座更优惠</p>
                    </div>
                </a>
            </div>
            <div class="search">
                <div type="text" class="searchinput">
                    <input type="text" class="input" placeholder="找影视剧、影人、影院">
                    <input class="submit" type="submit" value="">
                </div>
            </div>
            <div class="userimg">
                <img src="images/user.png" alt="">
                <span class="caret"></span>
            </div>
            <div class="userlogin">
                <a href="login.html" class=" notlogin">登录</a>
                <div class="islogin nologin">
                    <a href="personal.html">个人中心</a>
                    <a href="index.html">退出</a>
                </div>
            </div>
        </div>
    </header>
    <!-- 导航 -->
    <div class="movies-nav">
        <div class="nav-body">
            <div class="hotshowing">
                <a href="javascript:;" class="active">
                    正在热映
                </a>
            </div>
            <div class="willshow">
                <a href="#">
                    即将上映
                </a>
            </div>
            <div class="oldmovie">
                <a href="#">
                    经典影片
                </a>
            </div>
        </div>
    </div>
    <!-- 电影分类列表 -->
    <div class="movie-list">
        <div class="list-body">
            <div class="list-model" v-for="type in typeInfo">
                <div class="name">
                    {{ type.typeinfo }}
<!--                    {{typeInfo[0]}}-->
                </div>
                <ul class="tags">
                    <li class="tag-click" v-for="(types,index) in type.typeDetail" @click="changeClass(type['typeinfo'], types.id)"
                        :class="{ active:  idList[type['typeinfo']] === types.id }">
                        <a href="javascript:;">{{ types.ttype }}</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- 排序方式 -->
        <div class="sort">
            <div class="sort-model">
                <div class="sort-icon"></div>
                <span>按热门排序</span>
            </div>
            <div class="sort-model">
                <div class="sort-icon"></div>
                <span>按时间排序</span>
            </div>
            <div class="sort-model">
                <div class="sort-icon"></div>
                <span>按评论排序</span>
            </div>
        </div>
    </div>
    <!-- 电影列表 -->
    <div class="movies-body">
        <ul id="movies-body">
            <li class="othermovie-model" v-for="item in list">
                <a href="#">
                    <img :alt=item.title :src=item.pic>
                    <p>{{ item.name }}</p>
                </a>
                <i>{{ item.rating }}</i>
                <i class="mix2d"></i>
            </li>
        </ul>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item ">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <template v-for="(item,index) in pages">
                    <li @click="changeClass(index)" :class="{active: isActive === index }" class="page-item">
                        <a @click="jump(item)" class="page-link">{{ item }}</a>
                    </li>
                </template>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- 页面底部 -->
    <div class="footer" style="visibility: visible;">
        <p class="friendly-links">
            关于猫眼 :
            <a href="#" target="_blank">关于我们</a>
            <span></span>
            <a href="#" target="_blank">管理团队</a>
            <span></span>
            <a href="#" target="_blank">投资者关系</a> &nbsp;&nbsp;&nbsp;&nbsp; 友情链接 :
            <a href="#" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
            <span></span>
            <a href="#" data-query="utm_source=wwwmaoyan">格瓦拉</a>
            <span></span>
            <a href="#" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
            <span></span>
            <a href="#" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
        </p>
        <p class="friendly-links">
            商务合作邮箱：v@maoyan.com 客服电话：10105335 违法和不良信息举报电话：4006018900
        </p>
        <p class="friendly-links">
            用户投诉邮箱：tousujubao@meituan.com 舞弊线索举报邮箱：wubijubao@maoyan.com
        </p>
        <p class="friendly-links  credentials">
            <a href="#" target="_blank">中华人民共和国增值电信业务经营许可证 京B2-20190350</a>
            <span></span>
            <a href="#" target="_blank">营业性演出许可证 京演（机构）（2019）4094号</a>
        </p>
        <p class="friendly-links  credentials">
            <a href="#" target="_blank">广播电视节目制作经营许可证 （京）字第08478号</a>
            <span></span>
            <a href="#" target="_blank">网络文化经营许可证 京网文（2019）3837-369号 </a>
        </p>
        <p class="friendly-links  credentials">
            <a href="#" target="_blank">猫眼用户服务协议 </a>
            <span></span>
            <a href="#" target="_blank">猫眼平台交易规则总则 </a>
            <span></span>
            <a href="#" target="_blank">隐私政策 </a>
        </p>
        <p class="friendly-links  credentials">
            <a href="" target="_blank">京公网安备
                11010102003232号</a>
            <span></span>
            <a href="#/" target="_blank">京ICP备16022489号</a>
        </p>
        <p>北京猫眼文化传媒有限公司</p>
        <p>
            ©<span class="my-footer-year">2020</span> 猫眼电影 maoyan.com</p>
        <div class="certificate">
            <a href="#" target="_blank">
                <img src="http://p0.meituan.net/moviemachine/e54374ccf134d1f7b2c5b075a74fca525326.png">
            </a>
            <a href="#" target="_blank">
                <img src="http://p1.meituan.net/moviemachine/805f605d5cf1b1a02a4e3a5e29df003b8376.png">
            </a>
            <a href="h#" target="_blank">
                <img src="http://p0.meituan.net/scarlett/3cd2a9b7dc179531d20d27a5fd686e783787.png">
            </a>
        </div>
    </div>
</div>
</body>
<!--    vue + axios-->
<script>
    Vue.createApp({

        setup() {
            const host = 'http://localhost:8080/'
            const isActive = Vue.ref()
            const list = Vue.ref()
            const hasNextPage = Vue.ref() // 是否有下一页
            const hasPreviousPage = Vue.ref()//是否有上一页
            // 分页页面数量
            const pages = Vue.ref()
            // 当前页
            const pageNum = Vue.ref()
            // 当前页数据条数
            const pageSize = Vue.ref()
            // 电影类型
            const typeInfo = Vue.ref()

            const idList = Vue.reactive({})
            // 点击下一页
            const previous = () => {}
            // 点击上一页
            const next = () => {}
            // changeClass 电影分类改变选中样式
            const changeClass = (typeinfo, tabId) => {
                idList[typeinfo] = tabId;
                getMovieByType(idList)
                console.log(idList);

            }
            // 根据类型查找数据
            const getMovieByType = (data) => {
                    assembleList(data)
            }
            // 分页跳转
            const jump = (item) => {
                assembleList(item)
            }
            // 电影列表渲染
            const assembleList = (pageNum,data) => {
                if (!pageNum) {pageNum = 1}
                    axios({
                        url: host+'movie/' + pageNum + '/8',
                        method: 'get',
                        // data: data
                    }).then(resp => {
                        hasNextPage.value = resp.data.data.hasNextPage
                        hasPreviousPage.value = resp.data.data.hasPreviousPage
                        pages.value = resp.data.data.pages
                        list.value = (resp.data.data.list);
                    })
            }
            const assembleType = () => {
                axios({
                    url: host+'type',
                    method: 'get'
                }).then(resp => {
                    typeInfo.value = resp.data.data
                })
            }
            Vue.onMounted(() => {
                assembleType()
                assembleList()
            })
            return {
                // 选中样式标志
                isActive,
                hasNextPage, //是否有下一页
                hasPreviousPage, //是否有上一页
                idList, //分页列表的数据
                // 总页数
                pages,
                // 当前页数
                pageNum,
                // 页记录数
                pageSize,
                typeInfo,// 分类 '类型: 爱情,古装','区域','年代'
                list,
                //方法
                jump,
                assembleType,
                changeClass,
                previous,// 上一页
                next,// 下一页,

            }
        }
    }).mount("#App")
</script>


</html>